html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  
  font-family: 'Roboto', sans-serif;
}



.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ddd;
  z-index: 999;
}

.top-navigation .content {
  
  height: 4.375rem;
  
}

.content {
  padding: 0 1em; 
  font-size: 1em;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  width: 55em;
  margin: 0 auto;
}

.top-navigation .logo {
    height: 4.375rem;
}

.links {
  float: right;
  padding-top: .7em;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
  
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 600;
}

.links a {
  text-decoration: none;
}

.links li:hover {
  color: yellow;
  cursor: pointer;
}
.introduction {
    background-image: url('../images/first-background%20copy.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: -.78em;
    font-size: 1.53em;
}

.introduction h1,
.introduction h3 {
    text-align: center;
    font-weight: 300;
    color: white;
}

.button {
    margin: 0 auto;
    text-align: center;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 13px 26px;
    line-height: 1.33;
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    font-size: 1.125rem;
    text-align: center;
    color: white;
}

.big-button:hover {
    cursor: pointer;
    background-color: #FF4500;
}

.flex {
  display: flex;
  margin-left: 3em;
  padding-top: 1em;
  padding-bottom: 6em;
}

.cases .devices {
  width: 33.333333%;
  display: inline-block;
  
}

.social {
  padding-bottom: 9.5rem;
}

.icons {
  text-align: center;
  margin: -.6em 3em 0 0;
}

.icons li {
  display: inline-block;
  border:1px solid gray;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  margin-left: 1em;
}

.cases h2 {
  font-size: 2.7em;
  text-align: center;
  font-weight: 100;
  color: black;
  padding-top: 1.53em;
}

.flex .two {
  padding-left: 3em;
}

.flex .three {
  padding-left: 5em;
}

.flex h3 {
  font-weight: 400;
  color: black;
  padding-top: 1em;
  font-size: 1.54em;
  margin-left: -2.5em;
}

.flex .three h3 {
  padding-left: 2em;
}

.social h5 {
  text-align: center;
  color:black;
  font-weight:400;
  font-size: 1em;
}

.copy {
  text-align: center;
  font-size:.9em;
  font-weight: 100;
  margin: 1em 0 0 1em;
}

.icons i {
  padding-top: .7em;
}




